<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="static/jquery.min.js"></script>
    <script>
        $(document).ready(function(){

            $.ajaxSetup({ cache: false });

            $("button#play").click(function() {
                sendAction('play', {}) 
            });

            $("button#stop").click(function() {
                sendAction('stop', {}) 
            });

            $("button#volup").click(function() {
                sendAction('volumeUp', {}) 
            });

            $("button#voldown").click(function() {
                sendAction('volumeDown', {}) 
            });

        });

        function sendAction(action, param) {

            $('input#message').val(JSON.stringify({
                'action' : action,
                'param' : param
            }));
            
            $.ajax({
                type: 'POST',
                url: '/action',
                data: 'message=' + $('input#message').val(),
                //success: function(data) { }
            });
        }

    </script>
</head>

<body>

    <form id="action">
        <input id="message" type="hidden" />
    </form>

    <p id="log"></p>
    <button id="play" type="button">Play!</button>
    <button id="stop" type="button">Stop!</button>
    <button id="volup" type="button">+</button>
    <button id="voldown" type="button">-</button>

    <a href="#" onclick="sendAction('play', {})">play</a>

</body>
</html>