<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/actions.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css-initial/initial.css" type="text/css"/>
</head>

<body>

    <div id="header">

        <div id="play" class="button"></div>
        <div id="pause" class="button" hidden="true"></div>

        <div id="lcd">
            <p id="header">SKY.FM: The 80's Station</p>
            <p id="subheader">REO Speedwagon - Take It On The Run</p>
        </div>

    </div>

    <form id="action">
        <input id="message" type="hidden" />
    </form>

    <p id="log"></p>
    <button id="play" type="button">Play!</button>
    <button id="stop" type="button">Stop!</button>
    <button id="volup" type="button">+</button>
    <button id="voldown" type="button">-</button>

    <a href="#" onclick="sendAction('play', {})">play</a>

</body>
</html>
